<section class="block container">
  <header class="block__header">
    <h2 class="feature__heading">Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, sapiente!
    </p>
  </header>
  <div class="grid grid-cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="IMAGES/sprite.svg#easy"></use>
        </svg>
      </span>
      <h2 class="feature__heading">Super easy to use</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, tempore.
      </p>
      <a class="link-arrow" href="">Learn more</a>
    </div>
    <img src="IMAGES/ease.webp" alt="" />
  </div>

  <!-- another feature -->
  <div class="grid grid-cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="IMAGES/sprite.svg#computer"></use>
        </svg>
      </span>
      <h2 class="feature__heading">Simply Fast Websites</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, tempore.
      </p>
      <a class="link-arrow" href="">Learn more</a>
    </div>
    <img src="IMAGES/fast.webp" alt="" />
  </div>

  <!-- another feature -->
  <div class="grid grid-cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="IMAGES/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h2 class="feature__heading">Super easy to use</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, tempore.
      </p>
      <a class="link-arrow" href="">Learn more</a>
    </div>
    <img src="IMAGES/wordpress.c5854b7a.webp" alt="" />
  </div>

  <!-- another feature -->
  <div class="grid grid-cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="IMAGES/sprite.svg#clock"></use>
        </svg>
      </span>
      <h2 class="feature__heading">Super easy to use</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, tempore.
      </p>
      <a class="link-arrow" href="">Learn more</a>
    </div>
    <img src="IMAGES/support.webp" alt="" />
  </div>
</section>
