<div class="grid grid-cols-2">
    <div style="background-color: gold; height: 100px;"></div>
    <div style="background-color: dodgerblue; height: 100px;"></div>
  </div>

  <div class="card testimonial" style="padding: 5rem;">
    <div class="grid grid-cols-2">
     <div class="testimonial__image">
       <img src="./Images/testimonial.ad9df737.jpg" alt="A customer with smilling" />
       <svg class="icon">
         <use xlink:href="image/sprite.svg#quote"></use>
       </svg>
     </div>
     
     <div style="background-color: gold; height: 100px;"></div>
    </div>
  </div>