<nav class="nav callapsible collapsible--expanded">
    <a href="#"><img src="IMAGES/logo.svg" alt="A website logo"></a>
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="IMAGES/sprite.svg#Menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
     <li class="nav__item"><a href="#">Hosting</a></li>
     <li class="nav__item"><a href="#">VPS</a></li>
     <li class="nav__item"><a href="#">Domain</a></li>
     <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
  </nav>
  